<div class="inner-container">
  <div class="form-header">
    <span>Tasks List</span>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-borderless wm-table">
        <thead>
          <tr class="d-flex">
            <th class="col-3">Task</th>
            <th class="col-2">Project</th>
            <th class="col-2">Status</th>
            <th class="col-2">Created by</th>
            <th class="col-2">Assigned to</th>
            <th class="col-1">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks" class="d-flex">
              <td class="col-3">{{task.taskName}}</td>
              <td class="col-2">{{task.taskProject}}</td>
              <td class="col-2">{{task.taskStatus}}</td>
              <td class="col-2">{{task.createdByName}}</td>
              <td class="col-2">{{task.taskAssignedTo | userName}}</td>
              <td class="col-1"><a type="button">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination float-left">
      <li class="page-item" [class.disabled]="tasksService.current-1 <= 0"><a class="page-link" (click)="navigate(tasksService.current-1)">Previous</a></li>
      <li *ngFor="let page of pages" class="page-item" [class.active]="page == tasksService.current" (click)="navigate(page)"><a class="page-link">{{page}}</a></li>
      <li class="page-item" [class.disabled]="tasksService.current+1 > pages.length"><a class="page-link" (click)="navigate(tasksService.current+1)">Next</a></li>
    </ul>
</div>