<div class="col-md-12 inner-container">
    <div class="form-header">
        <span>{{company.companyName}}</span>
        <button type="button" class="d-block btn-edit float-right" (click)="edit = !edit">
            <span *ngIf="!edit"><fa-icon [icon]="['fas', 'edit']"></fa-icon> edit</span>
            <span *ngIf="edit"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> back</span>
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="row company-details" *ngIf="!edit">
      <div class="col-md-8 left">
          <p class="heading-title">Description</p>
          <div class="media">
              <div class="media-left">
                  <img *ngIf="company.companyLogo != 'default-image.png'" class="m-2 float-left" [src]="'http://localhost:3000/' + company.companyLogo" alt="">
                  <img *ngIf="company.companyLogo == 'default-image.png'" class="m-2 float-left" [src]="'../assets/default-image.png'" alt="">
                  <div class="media-body" [innerHTML]="company.companyDescription"></div>
              </div>
          </div>
          <div class="clearfix"></div>

      </div>
      <div class="col-md-4">
          <p class="heading-title">Contact</p>
          <ul>
              <li><small>Owner</small> - {{company.companyOwner}}</li>
              <li><small>Address</small> - {{company.companyAddress}}</li>
              <li><small>Phone</small> - {{company.companyPhone}}</li>
              <li><small>Email</small> - {{company.companyEmail}}</li>
          </ul>
          <hr>
          <div class="row">
                  <div class="col-sm-12">
                    <input type="file" accept="image/*" (change)="handleFileInput($event)" name="companyLogo" id="companyLogo" class="upload-select">
                    <button type="button" class="btn-upload" (click)="uploadImage()"><fa-icon [icon]="['fas', 'upload']"></fa-icon> upload logo</button>
                  </div>
          </div>
      </div>
    </div>
    <div class="company-projects">
      <p class="heading-title">Projects</p>
      <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6" *ngFor="let project of projects">
            <div class="custom-card">
              <img class="card-img-top" [src]="project.projectLogo != 'default-image.png' ? 'http://localhost:3000/' + project.projectLogo : './assets/default-image.png'" alt="project.projectLogo">
              <div class="custom-card-body">
                <a href=""><h5 class="custom-card-title">{{project.projectName}}</h5></a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" #updateCompanyForm="ngForm" *ngIf="edit">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="companyName">Company</label>
          <input type="text" class="form-control" id="companyName" placeholder="Company Name" name="companyName" #companyName="ngModel" [(ngModel)]="company.companyName" [ngClass]="{'invalid': companyName.invalid && !companyName.pristine}" required>
        </div>
        <div class="form-group col-md-6">
          <label for="companyOwner">Owner</label>
          <input type="text" class="form-control" id="companyOwner" placeholder="Company Owner" name="companyOwner" #companyOwner="ngModel" [(ngModel)]="company.companyOwner" [ngClass]="{'invalid': companyOwner.invalid && !companyOwner.pristine}" required>
        </div>
      </div>
      <div class="form-group">
        <label for="companyDescription">Description</label>
        <textarea class="form-control" id="companyDescription" rows="3" placeholder="Company Description" name="companyDescription" #companyDescription="ngModel" [(ngModel)]="company.companyDescription" [ngClass]="{'invalid': companyDescription.invalid && !companyDescription.pristine}" required></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="companyAddress">Address</label>
          <input type="text" class="form-control" id="companyAddress" placeholder="Company Address" name="companyAddress" #companyAddress="ngModel" [(ngModel)]="company.companyAddress" [ngClass]="{'invalid': companyAddress.invalid && !companyAddress.pristine}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="companyPhone">Phone</label>
          <input type="text" class="form-control" id="companyPhone" placeholder="Company Phone" name="companyPhone" #companyPhone="ngModel" [(ngModel)]="company.companyPhone" [ngClass]="{'invalid': companyPhone.invalid && !companyPhone.pristine}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="companyEmail">Email</label>
          <input type="text" email="true" class="form-control" id="companyEmail" placeholder="Company Email" name="companyEmail" #companyEmail="ngModel" [(ngModel)]="company.companyEmail" [ngClass]="{'invalid': companyEmail.invalid && !companyEmail.pristine}" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary submit" [disabled]="!updateCompanyForm.valid">SAVE COMPANY</button>
    </form>

</div>
  
  