.form-container {
    padding:15px;
  }
  
  .form-container input, textarea {
    border: 0px solid #ffffff;
    border-radius: 0px;
    padding: 15px 10px;
    outline: none;
  }
  
  .form-container input:active, .form-container input:focus {
      outline: none;
  }
  
  .form-header {
    padding: 0px 0 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #64698e;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 15px;
  }
  
  .form-container .submit {
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    background: #ffaa00;
    font-weight: bold;
  }
  .form-container label {
    color: #64698e;
    font-weight: bold;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c7c7c7;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c7c7c7;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c7c7c7;
  }

  .btn-edit {
    color: #ffffff !important;
    cursor: pointer;
    background: #64698e;
    padding: 0px 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  .company-details ul {
      list-style-type: none;
  }

  .company-details ul li i {
      text-decoration: underline;
  }

  .company-details .heading-title {
    color: #64698e;
    font-weight: bold;
  }