<div class="row no-gutters">
  <div class="col-lg-3 col-md-5 col-sm-5 content-left">
    <ul>
      <li>
        <a class="add-button" routerLink="add" [routerLinkActive]="'active'" #rla="routerLinkActive">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon><strong> ADD NEW TASK</strong>
          <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
        </a>
      </li>
      <li>
        <input type="text" class="search" (input)="onSearchChange($event.target.value)" placeholder="search tasks...">
      </li>
      <li>
        <select class="filter-control" (change)="onSelectUser($event.target.value)">
          <option value="undefined" selected>Select User</option>
          <option *ngFor="let user of users" [value]="user._id">{{user.userName}}</option>
        </select>     
      </li>
      <li *ngIf="tasks.length > 0">
        <div class="list-header">
          <span class="count"><strong>{{tasksService.count}}</strong> tasks</span>
          <div class="clearfix"></div>
        </div>
      </li>
    <li *ngIf="tasks.length == 0"><a class="add-button" routerlink>No companies yet.</a></li>
    <li *ngFor="let task of tasks">
      <a [routerLink]="['./', task._id]" [routerLinkActive]="'active'" #rla="routerLinkActive">
        {{task.taskName}}
        <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
      </a>
    </li>
    <li *ngIf="tasks.length > 0" class="list-nav">
      <ul class="pagination float-left">
            <li class="page-item" [class.disabled]="current-1 <= 0">
              <a class="page-link" (click)="navigate(current-1)">Previous</a>
            </li>
            <li *ngFor="let page of pages" class="page-item" [class.active]="page == current" (click)="navigate(page)">
              <a class="page-link">{{page}}</a>
            </li>
            <li class="page-item" [class.disabled]="current+1 > pages.length">
              <a class="page-link" (click)="navigate(current+1)">Next</a>
            </li>
        </ul>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>

  <div class="col-lg-9 col-md-7 col-sm-7 content-right">
    <router-outlet></router-outlet>
  </div>
</div>