<nav>
    <!-- Brand -->
    <div class="col-sm-12">
        <a class="navbar-brand" [routerLink]="main">
            <img src="./assets/logowma.png" title="" alt="">
          </a>
            <h3>workmeter <small>2.0</small></h3>

      <!-- Links -->
      <div class="dropdown float-right">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false"><span>{{user.userName}}</span></a>
      
        <div class="dropdown-menu dropdown-pull-right">
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
        </div>
      </div>
    <div class="clearfix"></div>
    </div>
  </nav>