.nav-link, .nav-link:focus, .nav-link:hover {
    color:#fff;
}

.dropdown-pull-right {
    right: 0;
    left: auto;
}
  
.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}

.nav-link {
    padding: 17px 10px;
}

.nav-link span {
    padding-right: 10px;
}

.navbar-brand {
    display: block;
    float: left;
    margin-right: 0px;
}

h3 {
    float: left;
    padding-top: 9px;
    color:#ffffff;
}

h3 small {
    font-size: 13px;
    color: #ffda01;
    font-weight: bold;
}

a:hover {
    background: none;
}

