<div class="inner-container">
    <div class="form-header">
      <span>Add New Project</span>
      <button type="button" class="d-block btn-edit float-right" (click)="back()">
        <span><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> back</span>
    </button>
    </div>
    <form #projectForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="projectName">Project</label>
          <input type="text" class="form-control" id="projectName" placeholder="Project Name" name="projectName" #projectName="ngModel" [(ngModel)]="project.projectName" [ngClass]="{'invalid': projectName.invalid && !projectName.pristine}" required>
        </div>
        <div class="form-group col-md-6">
          <label for="projectCompanyId">Company</label>
          <select class="custom-select form-control" id="projectCompanyId" name="projectCompanyId" #projectCompanyId="ngModel" [(ngModel)]="project.projectCompanyId" [ngClass]="{'invalid': projectCompanyId.invalid && projectCompanyId.touched}" required>
              <option value="null" selected disabled>Select Company</option>
              <option *ngFor="let company of companies" [ngValue]="company._id">{{company.companyName}}</option>
            </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="projectDescription">Description</label>
          <textarea class="form-control" id="projectDescription" rows="3" placeholder="Project Description" name="projectDescription" #projectDescription="ngModel" [(ngModel)]="project.projectDescription" [ngClass]="{'invalid': projectDescription.invalid && !projectDescription.pristine}" required></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="projectTags">Tags</label>
          <span class="clearfix"></span>
          <tags (tagChange)="project.projectTags = $event"></tags>
        </div>
      </div>
      <button type="button" (click)="onSubmit()" class="btn submit" [disabled]="!projectForm.valid || project.projectTags.length == 0">SAVE Project</button>
    </form>
  </div>
  
  