<div class="inner-container">
    <div class="form-header">
      <span>Add New Project</span>
    </div>
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="projectName">Project</label>
          <input type="text" class="form-control" id="projectName" placeholder="Project Name" name="projectName" #projectName="ngModel" [(ngModel)]="project.projectName" [ngClass]="{'invalid': projectName.invalid && !projectName.pristine}" required>
        </div>
        <div class="form-group col-md-4">
          <label for="projectCompany">Company</label>
          <select class="custom-select form-control" id="projectCompany" name="projectCompany" #projectCompany="ngModel" [(ngModel)]="project.projectCompany" [ngClass]="{'invalid': projectCompany.invalid && projectCompany.touched}" required>
              <option value="null" selected disabled>Select Company</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <label for="projectTags">Tags</label>
          <input type="text" class="form-control" id="projectTags" placeholder="Comma Separated Tags" name="projectTags" #projectTags="ngModel" [(ngModel)]="project.projectTags" [ngClass]="{'invalid': projectTags.invalid && !projectTags.pristine}" required>
        </div>
      </div>
      <div class="form-group">
        <label for="projectDescription">Description</label>
        <textarea class="form-control" id="projectDescription" rows="3" placeholder="Project Description" name="projectDescription" #projectDescription="ngModel" [(ngModel)]="project.projectDescription" [ngClass]="{'invalid': projectDescription.invalid && !projectDescription.pristine}" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">SAVE Project</button>
    </form>
  
  </div>
  
  