<div class="inner-container">
    <div class="form-header">
      <span>Add New Project</span>
    </div>
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm" (keydown.enter)="$event.preventDefault()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="projectName">Project</label>
          <input type="text" class="form-control" id="projectName" placeholder="Project Name" name="projectName" #projectName="ngModel" [(ngModel)]="project.projectName" [ngClass]="{'invalid': projectName.invalid && !projectName.pristine}" required>
        </div>
        <div class="form-group col-md-6">
          <label for="projectCompany">Company</label>
          <select class="custom-select form-control" id="projectCompany" name="projectCompany" #projectCompany="ngModel" [(ngModel)]="project.projectCompany" [ngClass]="{'invalid': projectCompany.invalid && projectCompany.touched}" required>
              <option value="null" selected disabled>Select Company</option>
              <option *ngFor="let company of companies" [ngValue]="company._id">{{company.companyName}}</option>
            </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="projectDescription">Description</label>
          <textarea class="form-control" id="projectDescription" rows="3" placeholder="Project Description" name="projectDescription" #projectDescription="ngModel" [(ngModel)]="project.projectDescription" [ngClass]="{'invalid': projectDescription.invalid && !projectDescription.pristine}" required></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="projectTags">Tags</label>
          <span class="clearfix"></span>
          <tags (tagChange)="project.projectTags = $event"></tags>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid || project.projectTags.length == 0">SAVE Project</button>
    </form>
  </div>
  
  