<div class="row no-gutters">
  <div class="col-lg-3 col-md-5 col-sm-5 content-left">
    <ul>
      <li>
        <a class="add-button" routerLink="add" [routerLinkActive]="'active'" #rla="routerLinkActive">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon><strong> ADD NEW COMPANY</strong>
          <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
        </a>
      </li>
      <li>
          <input type="text" class="search" (input)="onSearchChange($event.target.value)" placeholder="search companies...">
      </li>
      <li *ngIf="companies.length > 0">
          <div class="list-header">
            <span class="count">Loaded <strong>{{companies.length}}</strong> companies</span>
            <div class="clearfix"></div>
          </div>
        </li>
      <li *ngIf="companies.length == 0"><a class="add-button" routerlink>No companies yet.</a></li>
      <li *ngFor="let company of companies | listFilter:searchTerm">
        <a [routerLink]="['./', company._id]" [routerLinkActive]="'active'" #rla="routerLinkActive">
          {{company.companyName}}
          <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-lg-9 col-md-7 col-sm-7 content-right">
    <router-outlet></router-outlet>
  </div>
</div>