<div class="row no-gutters">
    <div class="col-lg-3 col-md-5 col-sm-5 content-left">
      <ul>
        <li>
          <a class="add-button" routerLink="add" [routerLinkActive]="'active'" #rla="routerLinkActive">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon><strong> ADD NEW PROJECT</strong>
            <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
          </a>
        </li>
        <li>
            <input type="text" class="search" (input)="onSearchChange($event.target.value)" placeholder="search projects...">
        </li>
        <li *ngIf="projects.length == 0"><a class="add-button" routerlink>No projects yet.</a></li>
        <li *ngIf="projects.length > 0">
          <div class="list-header">
            <span class="count">Loaded <strong>{{projects.length}}</strong> of <strong>{{count}}</strong> projects</span>
            <div class="clearfix"></div>
          </div>
        </li>
        <li *ngFor="let project of projects | listFilter:searchTerm">
          <a [routerLink]="['./', project._id]" [routerLinkActive]="'active'" #rla="routerLinkActive">
            {{project.projectName}}
            <fa-icon *ngIf="rla.isActive" class="active-arr" [icon]="['fas', 'chevron-right']" size="sm"></fa-icon>
          </a>
        </li>
        <li *ngIf="projects.length < count"><button type="button" class="load-more" (click)="loadMore(projects.length)">LOAD MORE</button></li>
      </ul>
    </div>
  
    <div class="col-lg-9 col-md-7 col-sm-7 content-right">
      <router-outlet></router-outlet>
    </div>
  </div>