.content-left {
    background: none;
    padding-right:15px;
}

.content-right {
    background: #ffffff;
}

.content-left ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.content-left ul li {
    border-bottom:1px solid #ffffff;
}

.content-left ul li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: #64698e;
    color: #ffffff;
    text-decoration: none;
}

.content-left ul li a:hover {
    background: #143a79;
}

.active {
    background: #143a79 !important;
}

.active-arr {
    position: absolute;
    right: 10px;
}

.add-button {
    margin-bottom:15px;
}

.search {
    padding: 5px 10px;
    width: 100%;
    border: 5px solid #64698e;
    margin-bottom: 15px;
}