.form-container {
    padding-top:30px;
}

.form-container input {
    border: 0px solid #ffffff;
    border-radius: 0px;
    padding: 15px 10px;
}

.form-container button {
    border: none;
    border-radius: 0;
    padding: 5px 0px 0px 0px;
    outline: none;
    background: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
}

.form-container button:focus, .form-container button:hover, .form-container button:active {
    background: none !important;
    outline: none !important;
}

.form-container h3 {
    padding-bottom: 5px;
    color:#ffffff;
}

.form-container h3 small {
    font-size: 13px;
    color: #ffda01;
    font-weight: bold;
}

.logo-container img {
    border-style: none;
    display: block;
    margin: 75px 0px 30px 0;
    float: right;
    border-right: 1px solid #ffffff;
    padding-right: 25px;
}

@media(max-width:576px){
    .logo-container img {
        display: block;
        margin: 0 auto;
        border: none;
        float: none;
        padding: 0px;
    }
}
  
  .invalid  {
    border-right: 5px solid #ff0400 !important;
  }
  .valid  {
    border-right: 5px solid #1cb500 !important;
  } 