<div class="main">
<div class="container h-100">
  <div class="row align-items-center h-100">
          <div class="col-lg-4 mx-auto">
            <div class="row">
              <div class="col-md-4">
                LOGO
              </div>
              <div class="col-md-8">
                  <form>
                    <div class="form-group">
                      <label for="username">Email address</label>
                      <input type="email" class="form-control" id="username" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            </div>
          </div>
  </div>
</div>
</div>