<div class="main">
<div class="container h-100">
  <div class="row align-items-center h-100">
          <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
            <div class="row">
              <div class="logo-container col-xs-12 col-sm-3 col-md-4">
                <img src="./assets/logowm.png" alt="" title="">
              </div>
              <div class="form-container col-xs-12 col-sm-8 col-md-7">
                <h3>workmeter <small>2.0</small></h3>
                  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                    <div class="form-group">
                      <input type="text" 
                      class="form-control" 
                      id="userName"
                      name="userName"
                      placeholder="Username"  
                      [(ngModel)]="user.userName"  
                      #userName="ngModel"
                      [ngClass]="{'invalid': userName.invalid && !userName.pristine}"
                      required
                      autocomplete="off">
                    </div>
                    <div class="form-group">
                      <input type="password" 
                      class="form-control" 
                      id="password"
                      name="password" 
                      placeholder="Password" 
                      [(ngModel)]="user.password" 
                      #password="ngModel"
                      [ngClass]="{'invalid': password.invalid && !password.pristine}"
                      required
                      autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                  </form>
              </div>
            </div>
          </div>
  </div>
</div>
</div>