<div class="inner-container">
  <div class="form-header">
    <span>Add New Task</span>
    <button type="button" class="d-block btn-edit float-right" (click)="back()">
      <span><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon> back</span>
  </button>
  </div>
  <form #taskForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="taskName">Task</label>
        <input type="text" class="form-control" id="taskName" placeholder="Task Name" name="taskName" #taskName="ngModel" [(ngModel)]="task.taskName" [ngClass]="{'invalid': taskName.invalid && !taskName.pristine}" required>
      </div>
      <div class="form-group col-md-6">
        <label for="taskProjectId">Project</label>
        <select class="custom-select form-control" id="taskProjectId" name="taskProjectId" #taskProjectId="ngModel" [(ngModel)]="task.taskProjectId" [ngClass]="{'invalid': taskProjectId.invalid && taskProjectId.touched}" required>
            <option value="null" selected disabled>Select Project</option>
            <option *ngFor="let project of projects" [ngValue]="project._id">{{project.projectName}}</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="taskDescription">Description</label>
        <textarea class="form-control" id="taskDescription" rows="5" placeholder="Project Description" name="taskDescription" #taskDescription="ngModel" [(ngModel)]="task.taskDescription" [ngClass]="{'invalid': taskDescription.invalid && !taskDescription.pristine}" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="taskDifficulty">Difficulty</label>
        <select class="form-control" id="taskDifficulty" name="taskDifficulty" #taskDifficulty="ngModel" [(ngModel)]="task.taskDifficulty" [ngClass]="{'invalid': taskDifficulty.invalid && taskDifficulty.touched}" required>
          <option value="null" selected disabled>Select Difficulty</option>
          <option value="5">Easy</option>
          <option value="10">Normal</option>
          <option value="25">Hard</option>
          <option value="50">Insane</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="taskDeadline">Deadline</label>
        <input class="form-control" id="taskDeadline" placeholder="Task Deadline" ngx-mydatepicker name="taskDeadline" #taskDeadline="ngModel" #td="ngx-mydatepicker" [(ngModel)]="task.taskDeadline" [options]="myOptions" (click)="td.toggleCalendar()" [ngClass]="{'invalid': taskDeadline.invalid && !taskDeadline.pristine}" required/>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <button type="button" (click)="onSubmit()" class="btn submit" [disabled]="!taskForm.valid">ADD TASK</button>
        </div>
    </div>
  </form>
</div>

