.dropdown-pull-right {
    right: 0;
    left: auto;
  }
  
  .dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
  }

.bg-gray {
    background: rgb(223, 223, 223);
}

.bg-green {
    background: rgb(166, 212, 113);
}