<nav class="page-header">
  <span>Overview</span>
</nav>
<div class="row">
  <div class="col-md-3 mycard">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'building']" size="3x"></fa-icon>
        <p><span>3</span> companies</p>
    </div>
  </div>
  <div class="col-md-3 mycard yellow">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'project-diagram']" size="3x"></fa-icon>
      <p><span>10</span> projects</p>
    </div>
  </div>
  <div class="col-md-3 mycard green">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'tasks']" size="3x"></fa-icon>
      <p><span>22</span> tasks</p>
    </div>
  </div>
  <div class="col-md-3 mycard blue">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'users']" size="3x"></fa-icon>
      <p><span>19</span> users</p>
    </div>
  </div>
</div>