<h3>Overview</h3>
<div class="row">
  <div class="col-md-3 mycard">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'building']" size="3x"></fa-icon>
        <p><span>3</span> companies</p>
    </div>
  </div>
  <div class="col-md-3 mycard">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'project-diagram']" size="3x"></fa-icon>
      <p><span>10</span> projects</p>
    </div>
  </div>
  <div class="col-md-3 mycard">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'tasks']" size="3x"></fa-icon>
      <p><span>22</span> tasks</p>
    </div>
  </div>
  <div class="col-md-3 mycard">
    <div class="mycard-container">
        <fa-icon class="dahsboard-icons" [icon]="['fas', 'users']" size="3x"></fa-icon>
      <p><span>19</span> users</p>
    </div>
  </div>

</div>