.dashboard-container {
    color: #000000;
}

.mycard .mycard-container {
    min-height: 100px;
    background: #64698e;
}

.mycard-container p {
    color: #ffffff;
    display: block;
    font-size: 25px;
    padding: 25px 10px 8px 25px;
}

.mycard-container p span {
    font-weight: bold;
    font-size:35px;
}

.dahsboard-icons {
    display: block;
    float: right;
    padding: 13px;
    margin: 13px;
    /* background: #ffffff; */
    color: #ffffff;
}