<div class="col-md-12 navigation">
<ul class="list-inline">
  <li class="list-inline-item"><a routerLink="/dashboard" [routerLinkActive]="'active'" class="text-xs-center" href="#">Dashboard</a></li>
  <li class="list-inline-item"><a routerLink="/manage" [routerLinkActive]="'active'" class="text-xs-center" href="#">Manage</a></li>
  <li class="list-inline-item"><a class="text-xs-center" href="#">Tasks</a></li>
  <li class="list-inline-item"><a class="text-xs-center" href="#">Workmeter</a></li>
  <li class="list-inline-item"><a class="text-xs-center" href="#">Users</a></li>
</ul>
</div>